.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.card-container {
  margin-top: 50px; 
}

.card-style {
  
  padding: 20px;
  border-radius: 15px;
}
.social-icon{
  background-color: white;
}
.error-alert {
  background-color: rgba(255, 0, 0, 0.2); 
  color: #800202; 
  padding: 10px; 
  border-radius: 8px; 
  text-align: center; 
  margin-top: 10px; 

}
.col{
  display:flex;
  justify-content: center;
}
.texto-redes{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.boton-enviar{
  margin-top: 20px;
}
.formulario{
  display: flex;
  flex-direction: column;
}